<% unless flash["failure"] %>
  $('#append').html("<%=j render 'links/link' %>");
  <% end %>
<% else %>
  <% flash.each do |message_type, message| %>
  $("#flash-display").html("<p><%= message %></p>");
  <% flash[message_type] = nil %>
<% end %>


