<ul>
<% @links.each do |link| %>
  <li>Long Url: <%= link.long_url %></li>
  <li>Short Url: <%= link_to link.display_short_url, link.display_short_url, target: "_blank" %></li>
  <li>Link Clicks: <%= link.clicks %></li>
  <li><%= link_to 'Details', link_details_path(link.id) %></li>
<% end %>
</ul>