<div class="row top-box">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
      <h5 class="center">Quick and Reliable</h5>
      <p class="light"> A Quick and convenient way to turn long, cumbersome, anoying URLs into short and portable URLs</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
      <h5 class="center">User Experience Focused</h5>
      <p class="light">Find and use Tons of shortened Urls on this site</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
      <h5 class="center">Keeps Track</h5>
      <p class="light">SmallUrl keeps track of all your shortened URLs and also tracksusage of your created URLs</p>
    </div>
  </div>
</div>